NEXT_PUBLIC_ROOT_DOMAIN="localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_SUPABASE_PROJECT_ID=""
NEXT_PUBLIC_LEADMINER_API=""
AUTH_COOKIE_DOMAIN=""
